@import url("https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root 
{
    --maincolor: #2af0f0;
    --bg-color1: #f2f2fc;
    --bg-color2: #fdf9ff;
    --bg-color3: #e8dfec;
    --text-black-900: #1e1d31;
    --text-black-700: #28253d;

    /* Box Shadow */
    --box-shadow: 2px 2px 10px 4px rgb(12 55 54 / 15%);
}
* 
{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 4rem;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}
.shadow-dark 
{
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}
section 
{
    padding: 50px 100px;
}
.section-title 
{
    flex: 0 0 100%;
    max-width: 100%;
    margin-top: 7%;
}
.section-title h2 
{
    font-size: 40px;
    color: var(--text-black-900);
    font-weight: 800;
    position: relative;
    font-family: 'Clicker Script', cursive;
}
.section-title h2:before 
{
    content: '';
    height: 4px;
    width: 50px;
    background-color: var(--maincolor);
    position: absolute;
    left: 0;
    top: 100%;
    margin-bottom: 2%;
}
.section-title h2:after 
{
    content: '';
    height: 4px;
    width: 25px;
    background-color: var(--maincolor);
    position: absolute;
    left: 0;
    top: 100%;
    margin-top: 8px;
}
img 
{
    width: 100%;
}
body 
{
    color: var(--bg-color2);
}
header 
{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 100px;
    transition: 0.5s linear;
    background-color: var(--text-black-900);
}
.logo a 
{
    color: var(--bg-color1);
    font-weight: 600;
    padding: 15px 20px;
    font-size: 30px;
    letter-spacing: 5px;
}
.logo a span {
    font-family: 'Clicker Script', cursive;
    font-size: 40px;
    color: var(--colortosqa);
}
.logo a span 
{
    font-family: 'Clicker Script', cursive;
    font-size: 40px;
    color: var(--maincolor);
}
.logo a::before 
{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-bottom: 5px solid var(--maincolor);
    border-left: 5px solid var(--maincolor);
    left: 6%;
    top: 60%;
}
.logo a::after
{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-top: 5px solid var(--maincolor);
    border-right: 5px solid var(--maincolor);
    left: 30%;
    top: 17%;
}
.navbar 
{
    display: flex;
}
.navbar a 
{
    padding: 8px 17px;
    color: var(--bg-color1);
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}
.navbar a:hover 
{
    background: var(--maincolor);
    border-radius: 0.8rem;
    transition: 0.5 all linear;
    color: var(--text-black-900);
}
.header-icon 
{
    font-size: 22px;
    cursor: pointer;
    z-index: 1000;
    display: flex;
    column-gap: 0.8rem;
    color: var(--bg-color1);
}
.header-icon .bx:hover 
{
    color: var(--maincolor);
}
.header-icon .bxl:hover 
{
    color: var(--maincolor);
}
#menu-icon 
{
    color: var(--bg-color1);
    font-size: 24px;
    z-index: 100001;
    cursor: pointer;
    display: none;
}
.search-box 
{
    position: absolute;
    top: -100%;
    left: 50%;
    transform: translate(-50%);
    background: var(--bg-color1);
    width: 100%;
}
.search-box.active 
{
    top: 100%;
    box-shadow: var(--box-shadow);
    transition: 0.2s all linear;
}
.search-box input 
{
    padding: 20px;
    border: none;
    outline: none;
    width: 100%;
    font-size: 1rem;
    color: var(--text-black-900);
}
.search-box input::placeholder 
{
    font-size: 1rem;
    font-weight: 600;
    color: var(--text-black-900);
}
/* Content 3 */
.content-3 
{
    min-height: 100vh;
    background: var(--bg-color2);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(17rem, auto));
    align-items: center;
    gap: 1.5rem;
}
.content3-text p 
{
    margin-top: 3%;
    font-size: 20px;
    color: var(--text-black-900);
    text-align: justify;
    display: flex;
    margin-bottom: 0%;
    padding: 1rem;
    margin-left: -1%;
} 
.content3-img 
{
    max-width: 40%;
    text-align: center;
    position: relative;
}
.content3-img img 
{
    margin-top: 15%;
    border-radius: 15px;
    left: 0;
    height: 250px;
    width: 250px;
}
.content3-img::after 
{
    content: '';
    position: absolute;
    height: 60px;
    width: 60px;
    border-right: 10px solid #9909c5;
    border-bottom: 10px solid #9909c5;
    right: 15%;
    bottom: -7%;
}
.content3-img::before 
{
    content: '';
    position: absolute;
    height: 60px;
    width: 60px;
    border-top: 10px solid #9909c5;
    border-left: 10px solid #9909c5;
    left: 17%;
    top: 13%;
}  
h4 
{
    font-weight: 700;
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 15px;
    text-transform: capitalize;
    color: var(--maincolor);
}
.artikel1 {
    height: 310px;
    background-color: var(--text-black-700);
    text-align: justify;
    width: 685px;
    padding: 10px 70px 10px 70px;
    margin-top: 1%;
    border-width: 2px;
    border-radius: 20px;
    opacity: 1;
    position: absolute;
    left: 45%;
    top: 30%;
  }
.artikel2 
{
    height: 300px;
    background-color: var(--text-black-700);
    text-align: justify;
    width: 450px;
    padding: 10px 70px 10px 70px;
    margin-top: 1%;
    border-width: 2px;
    border-radius: 20px;
    opacity: 1;
    position: absolute;
    left: 62%;
    top: 85%;
}
.artikel3 
{
    height: 300px;
    background-color: var(--text-black-700);
    text-align: justify;
    width: 550px;
    padding: 10px 70px 10px 70px;
    margin-top: 3%;
    border-width: 2px;
    border-radius: 20px;
    opacity: 1;
    position: absolute;
    left: 10%;
    top: 133%;
}
.artikel4 
{
    height: 300px;
    background-color: var(--text-black-700);
    text-align: justify;
    width: 550px;
    padding: 10px 70px 10px 70px;
    margin-top: 1%;
    border-width: 2px;
    border-radius: 20px;
    opacity: 1;
    position: absolute;
    left: 55%;
    top: 137%;
  }
.artikel5 
{
    height: 300px;
    background-color: var(--text-black-700);
    text-align: justify;
    width: 550px;
    padding: 10px 70px 10px 70px;
    margin-top: 1%;
    border-width: 2px;
    border-radius: 20px;
    opacity: 1;
    position: absolute;
    left: 10%;
    top: 193%;
}
.artikel6 
{
    height: 300px;
    background-color: var(--text-black-700);
    text-align: justify;
    width: 550px;
    padding: 10px 70px 10px 70px;
    margin-top: 3%;
    border-width: 2px;
    border-radius: 20px;
    opacity: 1;
    position: absolute;
    left: 55%;
    top: 188%;
}
.artikel7 
{
    height: 350px;
    background-color: var(--text-black-700);
    text-align: justify;
    width: 550px;
    padding: 10px 70px 10px 70px;
    margin-top: 1%;
    border-width: 2px;
    border-radius: 20px;
    opacity: 1;
    position: absolute;
    left: 10%;
    top: 250%;
}
.artikel8 
{
    height: 350px;
    background-color: var(--text-black-700);
    text-align: justify;
    width: 550px;
    padding: 10px 70px 10px 70px;
    margin-top: 1%;
    border-width: 2px;
    border-radius: 20px;
    opacity: 1;
    position: absolute;
    left: 55%;
    top: 250%;
} 